<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <center>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Contact for Promortions</h4>
            <p></p>
            <form class="form-horizontal footer-top" action="mailto:abcyz123@gmail.com" method="post">
              <input type="text" placeholder="Name" name="uname" required>
              <hr>
              <input type="email" placeholder="Email" name="uemail" required>
              <hr>
              <input type="text" placeholder="Message" name="umessage" required>
              <hr>
              <input class="footer-newsletter" type="submit" value="Subscribe">
              <input class="footer-newsletter" type="reset" value="Reset">
            </form>

          </div>
        </center>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Anonymous Blogger 💻🤓</span></strong>. All Rights Reserved
      </div>
    </div>
  </div>
</footer><!-- End Footer -->
<script src="../../public/js/index.js"></script>
<!-- Vendor JS Files -->
<script src="../../public/vendor/aos/aos.js"></script>
<script src="../../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../public/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../../public/vendor/php-email-form/validate.js"></script>
<script src="../../public/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="../public/js/main.js"></script>
</body>

</body>

</html>