<script src="../../public/js/index.js"></script>
<!-- Vendor JS Files -->
<script src="../../public/vendor/aos/aos.js"></script>
<script src="../../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../public/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../../public/vendor/php-email-form/validate.js"></script>
<script src="../../public/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="../public/js/main.js"></script>
</body>

</body>

</html>